<section class="main-content">				
    <button ng-click="addProduct()"><i class="fa fa-plus" ></i> Add Product</button>
    <div class="row">
        <div class="span12">					
            <h4 class="title"><span class="text"><strong>Product List</strong></span></h4>
            <table datatable="ng" class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Product Name</th>
                        <th>Category Name</th>
                        <th>Sub-Category</th>
                        <th>Category Type</th>
                        <th>Image</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="product in productList track by $index">
                        <td ng-bind="product.product_name"></td>
                        <td ng-bind="product.Category_name"></td>
                        <td ng-bind="product.sub_category[0].sub_category_name"></td>
                        <td>john@example.com</td>
                        <td>john@example.com</td>
                        <td> <span class="fa fa-edit" ng-click="getCategory(category._id)"></span> </td>
                        
                      </tr>
                      
                    </tbody>
                  </table>
        </div>
        				
    </div>
</section>

<!-- add product modal popup -->

<div class="modal fade" id="modalAddProduct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <!-- <h4 class="modal-title w-100 font-weight-bold">Sign in</h4> -->
            <h4 class="title"><span class="text"><strong>Add Product</strong></span></h4>
                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
           <form action="#" method="post" class="form-stacked">
            
            <div class="row modal-form">
                
    
                <div class="span3">
                    <fieldset>
                    <div class="form-group">
                        <label class="form-label"><strong>Product Name</strong></label>
                        <div class="form">
                            <input type="text" placeholder="Enter new category name" class="input-xlarge ng-pristine ng-untouched ng-valid ng-empty" ng-model="category.category_name">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label"><strong>Description</strong></label>
                        <div class="controls">
                            <!-- <select id="categoryType" placeholder="Select Category Type" class="input-xlarge ng-pristine ng-untouched ng-valid ng-empty" ng-model="category.category_type">
                                <option value="" selected="selected">Select</option>
                            </select> -->
                        <textarea placeholder="Select Category Type" class="input-xlarge ng-pristine ng-untouched ng-valid ng-empty" ng-model="category.category_type">
                            </textarea>
                            <!-- <input type="password" placeholder="Enter your email" class="input-xlarge"> -->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label"><strong>Price</strong></label>
                        <div class="form">
                            <input type="text" placeholder="Enter new category name" class="input-xlarge ng-pristine ng-untouched ng-valid ng-empty" ng-model="category.category_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label"><strong>Quantity/Size</strong></label>
                        <div class="form">
                            <div class="checkbox">
                            <label><input type="checkbox" value="">Option 1 </label>
                            <input type="text" placeholder="Quantity"/>
                            </div>
                            <div class="checkbox">
                            <label><input type="checkbox" value="">Option 2</label>
                            <input type="text" placeholder="Quantity"/>
                            </div>
                            <div class="checkbox disabled">
                            <label><input type="checkbox" value="" disabled>Option 3</label>
                            <input type="text" placeholder="Quantity"/>
                        </div>  
                            <!-- <input type="text" placeholder="Enter new category name" class="input-xlarge ng-pristine ng-untouched ng-valid ng-empty" ng-model="category.category_name"> -->
                        </div>
                    </div>
                    
                    <hr>
                </fieldset>
                </div>
            <div class="span3">
                    <fieldset>
            <!-- image preview section -->
                </fieldset>
                </div>
            </div>
            
                
                
            </form>					
            <div class="modal-footer d-flex justify-content-center">
                <!-- <button class="btn btn-default">Login</button> 0-->
                    <div class="actions"><input tabindex="9" class="btn btn-inverse large" type="button" value="Save" ng-click="save()"></div>
                
            </div>
        </div>
    </div>
</div>
