<section class="main-content">
    <button ng-click="addProduct()"><i class="fa fa-plus" ></i> Add Product</button>
    <div class="row">
        <div class="span12">
            <h4 class="title"><span class="text"><strong>Product List</strong></span></h4>
            <table datatable="ng" class="table table-bordered responsive ">
                    <thead>
                      <tr>
                        <th>Product Name</th>
                        <th>Category Type</th>
                        <th>Category</th>
                        <th>Sub-Category</th>
                        <th>Image</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="product in productList track by $index">
                        <td ng-bind="product.item_name"></td>
                        <td ng-bind="product.category_type[0].category_type_name"></td>
                        <td ng-bind="product.category[0].category_name"></td>
                        <td ng-bind="product.sub_category[0].subCategory_name"></td>
                        <td>john@example.com</td>
                        <td> <span class="fa fa-edit" ng-click="getProduct(product._id)"></span>|
                            <span class="fa fa-trash" ng-click="deleteProduct(product._id)"></span>
                              </td>

                      </tr>

                    </tbody>
                  </table>
        </div>

    </div>
</div>
</section>

<!-- add product modal popup -->
<div class="modal fade" id="modalAddProduct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <!-- <h4 class="modal-title w-100 font-weight-bold">Sign in</h4> -->
            <h4 class="title"><span class="text"><strong>Add Product</strong></span></h4>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
           <!-- <form action="#" method="post" class="form-stacked"> -->

            <div class="row modal-form">


                <div class="span5">
                    <fieldset>
                    <div class="form-group">
                        <label class="form-label"><strong>Product Name</strong></label>
                        <div class="form">
                            <input type="text" placeholder="Enter new category name" class="input-xlarge ng-pristine ng-untouched ng-valid ng-empty" ng-model="productVm.item.item_name">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label"><strong>Description</strong></label>
                        <div class="controls">
                            <!-- <select id="categoryType" placeholder="Select Category Type" class="input-xlarge ng-pristine ng-untouched ng-valid ng-empty" ng-model="category.category_type">
                                <option value="" selected="selected">Select</option>
                            </select> -->
                        <textarea placeholder="Select Category Type" class="input-xlarge ng-pristine ng-untouched ng-valid ng-empty" ng-model="productVm.item.item_description">
                            </textarea>
                            <!-- <input type="password" placeholder="Enter your email" class="input-xlarge"> -->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label"><strong>Price</strong></label>
                        <div class="form">
                            <input type="text" placeholder="Enter new category name" class="input-xlarge ng-pristine ng-untouched ng-valid ng-empty" ng-model="productVm.item.item_price">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label"><strong>Category Type</strong></label>
                        <div class="form">
                           <select id="categoryType" placeholder="Select Category Type" ng-change="getFilterCategory()" class="input-xlarge" ng-model="productVm.item.category_type_id">
                                <option value="" selected="selected">Select</option>
                                <option ng-repeat="opt in allTypes" ng-value="opt._id">{{opt.category_type_name}}</option>
                                <!--<option ng-value="-1" value="-1">Edit</option>-->
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label"><strong>Category</strong></label>
                        <div class="form">
                           <select id="category" placeholder="Select Category" ng-change="getFilterSubCategory()" class="input-xlarge" ng-disabled="productVm.item.category_type_id===''" ng-model="productVm.item.category_id">
                                <option value="" selected="selected">Select</option>
                                <option ng-repeat="opt in filteredCategory" ng-value="opt._id">{{opt.category_name}}</option>
                                <!--<option ng-value="-1" value="-1">Edit</option>-->
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label"><strong>Sub-Category</strong></label>
                        <div class="form">
                           <select id="subCategory" placeholder="Select Sub-Category"  class="input-xlarge"  ng-disabled="productVm.item.category_id===''" ng-model="productVm.item.sub_category_id">
                                <option value="" selected="selected">Select</option>
                                <option ng-repeat="opt in filteredSubCategory" ng-value="opt._id">{{opt.subCategory_name}}</option>
                                <!--<option ng-value="-1" value="-1">Edit</option>-->
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label"><strong>Size Group</strong></label>
                        <div class="form">
                           <select id="sizeGroup" placeholder="Select Sub-Category" multiple class="input-xlarge" ng-change="getSelectedSizes()" ng-model="productVm.item.sizeIds">
                                <option ng-repeat="opt in allSizes" ng-value="opt._id">{{opt.size_name}}</option>
                                <!--<option ng-value="-1" value="-1">Edit</option>-->
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label"><strong>Quantity/Size</strong></label>
                        <div class="form">
                            <div class="checkbox quantity-check" ng-repeat="size in productVm.item.selectedSizes">
                                <label><input type="checkbox" value="">{{size.size_name}} </label>
                                <input type="text" class="input-large" placeholder="Quantity" ng-model="size.quantity"/>
                            </div>
                            <!-- <div class="checkbox quantity-check">
                            <label><input type="checkbox" value="">Medium</label>
                            <input type="text" class="input-large" placeholder="Quantity"/>
                            </div>
                            <div class="checkbox quantity-check">
                            <label><input type="checkbox" value="">Large</label>
                            <input type="text" class="input-large" placeholder="Quantity"/> -->
                        <!-- </div> -->
                            <!-- <input type="text" placeholder="Enter new category name" class="input-xlarge ng-pristine ng-untouched ng-valid ng-empty" ng-model="category.category_name"> -->
                        </div>
                    </div>

                    <hr>
                </fieldset>
                </div>
            <div class="span5">
                    <fieldset>
                        <div class="form-group">
                        <label class="form-label"><strong>Images</strong></label>
                        <div class="form">
                            <button type="button" onClick="fileUploadTriggered()"> Upload</button>
                            <input type="file" id="prod_image" name="images[]" ng-model="files" style="display:none" multiple onchange="angular.element(this).scope().addImages()">
                        </div>
                    </div>
                         <div class="row" id="image_preview">
                             <div class='span1' ng-repeat="image in prodImage">
                                 <div class="form-group">
                                    <img ng-click="selectThumbnail(image.blobUrl)" class='img-responsive' src="{{image.blobUrl}}"/>
                                    <label ng-if="image.isThumbnail">Thumbnail</label>
                                 </div>

                                </div>
                         </div>
            <!-- image preview section -->
                </fieldset>
                </div>
            </div>
            <!-- </form>					 -->
            <div class="modal-footer d-flex justify-content-center">
                <!-- <button class="btn btn-default">Login</button> 0-->
                    <div class="actions"><input tabindex="9" class="btn btn-inverse large" type="button" value="Save" ng-click="saveProduct()"></div>

            </div>
        </div>
    </div>


<script>
$(document).ready(function(){

});
function fileUploadTriggered(){
        $('#prod_image').click();
    }
    function preview_images()
{
 var total_file=document.getElementById("prod_image").files.length;
 for(var i=0;i<total_file;i++)
 {
  $('#image_preview').append("<div class='span1'><img class='img-responsive' src='"+URL.createObjectURL(event.target.files[i])+"'></div>");
 }
}
    </script>