<style type="text/css">
  .uib-datepicker-popup .dropdown-menu {
    top: 100% !important;
  }


.controls {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }

  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
    position: absolute;
    top: -9px;
    z-index: 1;
    right: 49px;
  }

  .inputmove {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
    position: absolute;
    top: -9px;
    z-index: 1;
    right: 105px;
  }


  #clearbtn {
    margin-top: 7px;
    z-index: 1;
    position: absolute;
    left: auto;
    border-radius: 0px;
    right: 49px;
  }

  #pac-input:focus {
    border-color: #4d90fe;
  }

  .pac-container {
    font-family: Roboto;
  }

  #type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
  }

  .tab-content>.tab-pane {

    position: relative;
  }

  #type-selector label {
    font-size: 13px;
    font-weight: 300;
  }

  .btn-default.active.focus,
  .btn-default.active:focus,
  .btn-default.active:hover,
  .btn-default:active.focus,
  .btn-default:active:focus,
  .btn-default:active:hover,
  .open>.dropdown-toggle.btn-default.focus,
  .open>.dropdown-toggle.btn-default:focus,
  .open>.dropdown-toggle.btn-default:hover {
    background-color: #fff;
    outline: 0px;
  }

.switch {
  position: relative;
  display: inline-block;
   width: 70px;
  height: 35px; 
  float: right;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border:1px solid #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

/* .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
} */
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 32px;
  left: 4px;
  bottom: 4px;
    -webkit-transition: .4s;
  transition: .4s;
      background: url(images/swichbg1.png);
    background-position: -10px -3px;
    background-size: 50px;
}

input:checked + .slider {
  /* background-color: #2196F3; */
  border: 1px solid #ccc;
  background-color: #fff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
  background: url(images/swichbg2.png);
    background-size: 48px;
    background-position: -56px -2px;
}


/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  background: url(images/swich-n-bg.png);
  background-position: -5px -3px;
}

.slider.round:before {
  border-radius: 50%;
}



</style>

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header clearfix">
    <h1>Customer ID : {{customer_id}}</h1>
    <ol class="breadcrumb">
      <li>
        <a ui-sref="dashboard">
          <i class="fa fa-dashboard"></i> Dashboard</a>
      </li>
      <li>
        <a ui-sref="dailies">Manage Dailies</a>
      </li>
    </ol>

  </section>

  <!-- Main content -->
  <section class="content my-dash" ng-init="getDailiesList() ; getdailiesdetails(); filterBoxFlag=false ;">
    <!-- Your Page Content Here -->
    <div class="row">
      <div class="col-sm-12">
        <div class="box">
          <div class="box-body">
            <div class="row">
              <div class="col-md-4">
                <form name="searchForm" novalidate>
                  <div id="custom-search-input">
                    <div class="input-group col-md-12">
                      <input type="text" class="form-control " placeholder="Search dailies" name="searchTerm" ng-model="searchTextField" ng-change="searchingDailies()"
                        required />
                      <a class="inputArrowBtn" href="javascript:void(0)" ng-click="filterBoxFlag = !filterBoxFlag">
                        <i class="indicator fa " ng-class="{'fa-caret-down': !filterBoxFlag, 'fa-caret-up': filterBoxFlag}" aria-hidden="true"></i>
                      </a>
                      <span class="input-group-btn">
                        <h4 class="box-title box-btn-custom">
                          <button class="btn btn-info " type="button" ng-click="searching()" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                          </button>
                        </h4>
                      </span>

                    </div>
                  </div>
                </form>
              </div>
              <div class="col-md-3 form-group">
                <div class="input-group">
                  <input  class="form-control date-picker ng-pristine ng-valid ng-isolate-scope ng-touched" class="dateInput"  date-range-picker="" placeholder="From Date - To Date" 
                   ng-click="searchDate()"   readonly=""  name="searchQuery" type="text"  ng-model="searchObj.dateRange"  options="{eventHandlers: {'apply.daterangepicker': checkAuditSameDate('Audit')}}"
                  aria-invalid="false">
                  <div class="input-group-addon"> <i class="fa fa-calendar"></i> </div>
                </div>
              </div>
              <div class="col-md-2"></div>
              <div class="col-md-2">
                <label class="switch">
                  <input type="checkbox" ng-click="showDiv = !showDiv" >
                  <span class="slider round"></span>
                </label>
              </div>
              <div class="col-md-1">
                <a ng-click="downloadXls()" csv-header="getHeader()" class="downloadBtnCustom">
                  <i class="fa fa-download xlsDownloadIco" aria-hidden="true"></i>
                  <span style="margin-left: 5px;">Xls</span>
                </a> 
              </div>
            </div>
        <!--       <div class= "col-md-3 form-group">

<button type ="submit" class="btn-primary"  ng-click= "purhaseDailes()" >Pruchase dailies </button>


              </div> -->

<!-- 
  <a href="#/purhaseDailes">
                                                        <i  aria-hidden="true">     Purchase</i>
                                                    </a> &nbsp;&nbsp; -->







    

              <!-- <div class="col-sm-4 col-md-8">
             ;   <form>
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group clearfix">
                        <input type="text" class="form-control" datepicker-options="dateOptions" uib-datepicker-popup ng-model="dailies.from_date"
                          name="from_date" is-open="from_date.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats"
                          placeholder="From Date" ng-click="fromDate()" />
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group clearfix">
                        <input type="text" class="form-control" datepicker-options="dateOptions" uib-datepicker-popup ng-model="dailies.to_date"
                          name="to_date" is-open="to_date.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats"
                          placeholder="To Date" ng-click="toDate()" />
                      </div>
                    </div>
                     <div class="col-sm-3">
                       <a ng-click="downloadPdf()" class=" btn btn-primary"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Download Pdf</a> 
                       <a ng-if="myDailyPdfLink" <a target="_self" href="http://www.getmydaily.com/{{myDailyPdfLink}}" id="myDailiypdf"  download="myDailies.pdf"><i class="fa fa-download" aria-hidden="true"></i></a>
                    </div>

                  </div>
                  <div class="col-md-3 form-group">
                    <input class="form-control date-picker" date-range-picker placeholder="Search By Submitted Date" readonly="" name="searchQuery"
                      type="text" ng-model="searchObj.dateRange" options="{eventHandlers: {'apply.daterangepicker': checkAuditSameDate('Audit')}}">
                  </div>
                </form>
              </div> -->


              <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
                <!-- <div class="box box-primary"> -->
                <!-- <div class="box-header with-border"> -->
                <!-- <h4 class="box-title">
                      <a href="javascript:void(0)" ng-click="filterBoxFlag = !filterBoxFlag">
                        <i class="indicator fa " ng-class="{'fa-caret-right': !filterBoxFlag, 'fa-caret-down': filterBoxFlag}" aria-hidden="true"></i> Search filter
                      </a>
                    </h4> -->

              </div>
              <div class="box-body toggleArrowPopUp inventory-filter" ng-show="filterBoxFlag">
                <div class="row">

                  <div class="col-xs-12 col-md-6 col-lg-12 col-sm-12">
                    <label class="virtualPopUpLabel">Daily Number</label>
                    <input type="text" name="table_search" class="form-control pull-right" placeholder="Search" ng-model="filter.daily_number"
                      autocomplete="false" style="height: 38px!important;" ng-change="filterUser(filter)">
                  </div>
                       <!-- <div class="col-xs-12 col-md-6 col-lg-12 col-sm-12">
                    <label class="virtualPopUpLabel">Customer Number</label>
                    <input type="text" name="table_search" class="form-control pull-right" placeholder="Search" ng-model="filter.customer_id"
                      autocomplete="false" style="height: 38px!important;" ng-change="filterUser(filter)">
                  </div>    -->
                  <div class="col-xs-12 col-md-6 col-lg-12 col-sm-12">
                    <label class="virtualPopUpLabel">JOB ID</label>
                    <input type="text" name="table_search" class="form-control pull-right" placeholder="Search" ng-model="filter.job_id" autocomplete="false"
                      style="height: 38px!important;" ng-change="filterUser(filter)">
                  </div>


                  <div class="col-xs-12 col-md-6 col-lg-12 col-sm-12">
                    <label class="virtualPopUpLabel">CLIENT NAME</label>
                    <input type="text" name="table_search" class="form-control pull-right" placeholder="Search" ng-model="filter.client" autocomplete="false"
                      style="height: 38px!important;" ng-change="filterUser(filter)">
                  </div>

                  <div class="col-xs-12 col-md-6 col-lg-12 col-sm-12">
                    <label class="virtualPopUpLabel">FOREMEN</label>
                    <input type="text" name="table_search" class="form-control pull-right" placeholder="Search" ng-model="filter.foremen" autocomplete="false"
                      style="height: 38px!important;" ng-change="filterUser(filter)">
                  </div>
                </div>

                <div class="box-footer inventory-filter" ng-show="filterBoxFlag">
                  <div class="input-group input-group-sm pull-right margin-left-5">
                    <!-- <a class="apply_btn btn btn-primary" ng-click="filterUser({});filter.daily_number = ''" href="javascript:void(0)">Clear</a> -->
                  </div>
                  <div class="input-group input-group-sm pull-right">
                    <a class="apply_btn btn btn-primary" ng-click="filterBoxFlag=false; filterUser(filter) ;" href="javascript:void(0)">Search</a>
                  </div>
                </div>
              </div>
            </div>
<!-- <div class="row"></div> -->
                <div id="divMsg" class="map-tab"  ng-show="showDiv">
 <div id="divMsg">

<a href="#" class="add-matrix-btn btn btn-primary">
              <i class="fa fa-plus" aria-hidden="true"></i>
              <span class="btn-block">Add Metric</span>
            </a>
                      <div id="divMsg" class="map-tab">
                      
                          <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="home">
                              <input ng-class="myclass" ng-model="key" ng-change="dynamicbtn(key)" id="pac-input" google-place class="controls" type="text"
                                placeholder="Search dailies">
                              <span></span>
                              <button ng-if="data_length>0" id="clearbtn" class="btn btn-primary" ng-click="clearsearch()">Clear</button>


                              <div id="map" style="width:200;height: 400px">


                            </div>
                          </div>
                        </div>
                </div> 
                         </div>

                </div>
<div class="table">
          <table  ng-show="!showDiv" id="userTable" class="table table-bordered manage_daily_tbl" ng-table="tableParams" show-filter="isFiltersVisible">
             <tr ng-repeat="dailies in dailiesList.slice().reverse() " style="background: #fff; {{dailies.status=='Accepted' ?'background: #f4f3f3;':''}}"  > 
               <!--style="background: #fff"-->

              <td header="'headerCheckbox.html'" style = "border-left:thick solid #f9f9f9; {{dailies.status=='Active'?'border-left: thick solid #f04e0e;':''}}">
                
                
                
                <input    type='checkbox' ng-model="checkboxes.items[dailies._id]" ng-change="toggleSelection(dailies)" />
              </td>


              <td ng-click="viewEditDailiesDetail(dailies)" data-title="'Daily Number'" sortable="" filter="{title:'text'}"
                align="left">{{dailies.daily_number}} </td>
              <td ng-click="viewEditDailiesDetail(dailies)" data-title="'Job id'" filter="{title:'text'}" align="left">{{dailies.job_detail.job_id ? dailies.job_detail.job_id : dailies.job_id.job_id ? dailies.job_id.job_id : '-'}}</td>
              <td ng-click="viewEditDailiesDetail(dailies)" data-title="'Client Name'" sortable="'job_detail.client'"

 filter="{title:'text'}" align="left">{{dailies.job_detail.client ? dailies.job_detail.client : dailies.job_id.client ? dailies.job_id.client : '-'}}</td>

              <td ng-click="viewEditDailiesDetail(dailies)" data-title="'Foremen'" sortable="'foremen_details.firstname'" filter="{title:'text'}"
                align="left">{{dailies.foremen_details.firstname ? dailies.foremen_details.firstname + " " + dailies.foremen_details.lastname
                : dailies.user_id.firstname ? dailies.user_id.firstname + " " + dailies.user_id.lastname : '-'}}
              </td>

              <!--<td data-title="'Operator'" sortable="'crews_foremen'" filter="{title:'text'}" align="left">{{dailies.crews_details.firstname  ? dailies.crews_details.firstname + " " +dailies.crews_details.lastname : '-'}}</td>-->

              <td  ng-click="viewEditDailiesDetail(dailies)" data-title="'From Date'" sortable="'from_date'"


 filter="{title:'text'}" align="left">{{dailies.from_date | date:"dd-MMM-yyyy"}}</td>
              <td ng-click="viewEditDailiesDetail(dailies)" data-title="'To Date'"  sortable="'to_date'" filter="{title:'text'}" align="left">{{dailies.to_date | date:"dd-MMM-yyyy"}}</td>
              <td ng-click="viewEditDailiesDetail(dailies)" data-title="'Status'" sortable="'status'" filter="{title:'text'}" align="left">
                <a href="">
                  <span ng-class="{'label label-danger': dailies.status=='Active'}" ng-if="dailies.status=='Active'">{{dailies.status}}</span>
                  <span ng-class="{'label label-success': dailies.status=='Accepted'}" ng-if="dailies.status=='Accepted'">{{dailies.status}}</span>
                  <span ng-class="{'label label-warning': dailies.status=='Rejected'}" ng-if="dailies.status=='Rejected'">{{dailies.status}}</span>
                </a>
              </td>
              <td {{dailies}} data-title="'Action'" align='left'>
                 <!-- <a href="" ng-click="viewDailiesDetail(dailies)">
                  <i class="fa fa-eye fa-1" aria-hidden="true"></i>
                </a> &nbsp;  -->
                <a href="" ng-click="downloadsinglepdf(dailies)">
                  <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                </a>&nbsp;
                <a href="" ng-click="deletedailies(dailies._id)">
                  <i class="fa fa-trash-o fa-1" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
            <tr ng-if="tableLoader">
              <td colspan="7" align="center">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
              </td>
            </tr>
            <tr ng-if="dailiesList.length == 0 && !tableLoader">
              <td colspan="7" align="center">No record Found</td>
            </tr>
           



<div class="col-md-12">
             <div class="row-btn">
              <div ng-show="checkboxes.checked || checkboxes.items[dailies._id]" class="twoButtonsOuter">
                <button class="btn btn-primary fa fa-trash action-btn-custom" name='selectedAction' value="3" id='selectedAction' ng-click="performAction(dailies)"></button>
                <button class="btn btn-primary  fa fa-file-pdf-o action-btn-custom" name='selectedActionn' value="2" id='selectedActionn' ng-click="downloadMultiplePdf(dailies)"></button>
              </div> 
              <div class="rtSecBtnCustom">
               
                <div class="custom_chkbox_outer switch" ng-controller="dailiesController" style=" margin-left: 10px; margin-top: 7px;">
                  <input style="display: none;" class="custom_chk" id="custom_chk_box" ng-model="initBool" ng-change="switchHtml(initBool)"
                    type="checkbox" id="custom_chk_box">
              </div>

             

              </div>
            </div>

</div>


          </table>
        </div>



















            
          </div>



          <div class="clearfix"></div>
        </div>
        

        <!--Dailies linsting table-->
        <!--Dailies linsting table-->
      </div>
      <!-- /.box-body -->

    </div>
</div>
</div>
<script type="text/ng-template" id="headerCheckbox.html">
  <input type="checkbox" data-ng-click="toggleSelection(0)" ng-model="checkboxes.checked" class="select-all" value="" />
</script>
</section>
<!-- /.content -->
</div>

<style>
  .uib-datepicker-popup.dropdown-menu {
    display: block;
    top: 70% !important;
  }

  .form-group {
    margin-bottom: 0 !important;
  }
  .box-body{
    padding-bottom: 0px
  }
  .row-btn{
    margin-bottom: 0px;
  }
</style>
