html, body {margin: 0;padding: 0; font-family: Arial; }
header{background-color: #ffffff;position: fixed;right: 0;left: 0;z-index: 1030;padding: 20px 0px;box-shadow: 0px 0px 2px #4e4e4e;}
.navbar-default {border: 0px;margin: 0px;background-color: #fff;}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{padding: 20px 0px}
header .social_media > li {display: inline-block}
header .social_media > li > a{font-size: 22px;padding: 20px 10px;}
header .social_media > li > a .facebook{color: #fff;background-color: #3b5998;border-radius: 50%;width: 35px;height: 35px;text-align: center;padding-top: 7px;}
header .social_media > li > a .twitter{color: #fff;background-color: #55acee;border-radius: 50%;width: 35px;height: 35px;text-align: center;padding-top: 7px;}
header .social_media > li > a:hover{color: #777;background-color: transparent}
header .social_media{float: right;list-style-type: none;margin: 0;padding: 5px 0px;}
.navbar-brand {padding: 10px 15px;}
.banner_top{top: 95px;position: relative; padding: 140px 0px 100px;border-bottom: 2px solid #edf0f1}
.banner_top h2{color: #082333;font-size: 48px; font-weight: bold}
.banner_top h5{color: #152e3d;font-size: 20px;font-weight: bold;margin: 20px 170px 20px 0px;line-height: 25px;}
.animate-left{margin: 110px 0px;position:relative;animation:animateleft 0.6s}@keyframes animateleft{from{left:-300px;opacity:0}to{left:0;opacity:1}}
.animate-right{position:relative;animation:animateright 0.6s}@keyframes animateright{from{right:-300px;opacity:0}to{right:0;opacity:1}}
.banner_top .find_out_more{padding: 20px 0px;}
.banner_top .find_out_more a{color: #fff;background-color: #43d29f; font-size: 18px;text-transform: uppercase; padding: 20px; border-radius: 5px; margin: 30px 0; text-decoration: none;transition:all 0.3s linear;}
.banner_top .find_out_more a:hover{background-color: #4199db}
.mydaily_ensure{text-align: center;padding: 110px 0 50px;border-bottom: 2px solid #edf0f1}
.mydaily_ensure h3{color: #082333;font-size: 48px;font-weight: bold;padding: 50px 240px;}
.mydaily_ensure img{margin: 30px 0}
.mydaily_ensure p{color: #152e3d;font-size: 18px;padding: 50px 340px; font-weight: 500}
.foreman_supervisor_works {padding: 110px 0;border-bottom: 2px solid #edf0f1}
.foreman_supervisor_works .mob_image{text-align: right;float: left}
.foreman_supervisor_works h3{color: #082333;font-size: 48px;font-weight: bold;padding-right: 30px}
.foreman_supervisor_works p {color: #152e3d;font-size: 18px;padding-right: 150px;font-weight: 500;margin: 20px 0px;}
.foreman_supervisor_works .right_text{margin: 140px 0px; float: right}
.foreman {text-align: center;padding: 30px 0px 70px;}
.foreman h3{color: #082333;font-size: 48px;font-weight: bold;margin-bottom: 65px;margin-top: 65px;}
.foreman h4{color: #082333;font-size: 18px;font-weight: bold;margin: 20px 0}
.foreman p{color: #173140;font-size: 13px;font-weight: bold;line-height: 18px}
.find_out_more_sec{padding: 110px 0;text-align: center}
.find_out_more_sec .find_out_more {padding: 20px 0px;margin: 60px 0px 25px;}
.find_out_more_sec .find_out_more a {color: #fff;background-color: #43d29f;font-size: 18px;	text-transform: uppercase; padding: 20px; border-radius: 5px;text-decoration: none;transition:all 0.3s linear;}
.find_out_more_sec .find_out_more a:hover{background-color: #4199db}
.find_out_more_sec img{margin-bottom: 40px}
.find_out_more_sec p{color: #173140;font-size: 18px;font-weight: 500;margin: 0px 430px;}
footer{font-size: 12px; color: #173140;text-align: center;margin: 45px 0px 20px;}
footer .copy_right span{font-weight: bold}
footer .all_rights_res{color: #919597}

/* ---------------- For Animation on Scroll ---------------- */
.slideanim {visibility:hidden;visibility:visible\9;/*For old IE browsers IE6-8 */}
.slideanim.slide {visibility: visible; animation:slide 1s;}
.slideanim::after {/* useful when its child elements are float:left; */content: "";display: table;clear: both;}
@keyframes slide {0% {opacity: 0;transform: translateY(50%);} 100% {opacity: 1;transform: translateY(0);} }
#backtop {position: fixed;left:auto;right: 20px;top:auto;bottom: 80px;outline: none;overflow:hidden;color:#fff;text-align:center;background-color:#43d29f;height:40px;width:45px;line-height:40px;font-size:14px;border-radius:2px;cursor:pointer;transition:all 0.3s linear;z-index:999999;opacity:1;display:none;}
#backtop:hover {background-color:#4199db;}
#backtop.mcOut {opacity:0;}
.superVisor{margin: 0 auto;width: 70%;}
.img-fl-right{float: right}
.foreman-icons .col-md-2{width: 20%}
.btn-green{color: #fff;background-color: #43d29f;font-size: 18px;text-transform: uppercase;padding: 20px 25px;border-radius: 5px;transition: all 0.3s linear;border: 0px;margin: 5px}
.btn-green:hover{background-color: #4199db;}
.form-control-input {border: 1px solid #DDDEE0;border-radius: 5px;padding: 20px;width: 50%;font-size: 16px;}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color: #d1d3d3;}
::-moz-placeholder { /* Firefox 19+ */color: #d1d3d3;}
:-ms-input-placeholder { /* IE 10+ */color: #d1d3d3;}
:-moz-placeholder { /* Firefox 18- */color: #d1d3d3;}
/*.btn-grey{color: #fff;background-color: #DADFE2;font-size: 18px;text-transform: uppercase;padding: 20px 25px;border-radius: 5px;transition: all 0.3s linear;border: 0px;margin: 5px}*/
.btn-grey {
    background-color: #dadfe2;
    border: 0 none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
/*    margin: -46px 5px 5px 190px;*/
    padding: 20px 25px;
    margin-left: 10px;
    position: absolute;
    text-transform: uppercase;
    transition: all 0.3s linear 0s;
}
.subscribe-text{color:#43d29f; font-weight:bold; padding-top:23px;display: inline-block;}


/*media start*/
@media (min-width: 768px) and (max-width: 1199px) {
	.banner_top {top: 55px;padding: 80px 0px 0px;}
	.banner_top h2 {font-size: 28px;}	
	.banner_top h5 {font-size: 16px;margin: 10px 0px;}
	.banner_top .find_out_more a {font-size: 17px;padding: 15px;}
	.mydaily_ensure h3 {font-size: 38px;padding: 20px 70px;}
	.mydaily_ensure p {font-size: 16px;padding: 30px 80px;}
	.foreman_supervisor_works {padding: 80px 0;}
	.foreman_supervisor_works h3 {font-size: 38px;padding-right: 10px;}
	.foreman_supervisor_works p {padding-right: 0px;font-weight: 500;margin: 20px 0px;}
	.foreman h3 {font-size: 38px;	margin-bottom: 55px;margin-top: 55px;}
	.foreman h4 {font-size: 14px;	margin: 15px 0;}
	.foreman p {font-size: 12px;}
	.find_out_more_sec .find_out_more {margin: 20px 0px 35px;}
	.find_out_more_sec p {font-size: 16px;margin: 0px 220px;}
	.find_out_more_sec {padding: 60px 0;}
	footer {margin: 30px 0px 20px;}
}

@media (max-width: 767px) { 
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {padding: 20px 0px;border: 0;overflow: hidden;}
	.navbar-brand {padding: 15px 5px;}
	header .social_media > li > a {padding: 20px 0px;font-size: 20px}
	header .social_media > li > a .twitter {width: 30px;height: 30px;padding-top: 5px;margin-top: 5px;}
	header .social_media > li > a .facebook {width: 30px;height: 30px;padding-top: 5px;margin-top: 5px;}
	.banner_top {top: 5px;padding: 0px;}
	.banner_top h2 {font-size: 20px;text-align: center;}
	.banner_top h5 {font-size: 13px;margin: 15px 0px;text-align: center;line-height: 20px;}
	.banner_top .find_out_more {padding: 10px 0px;text-align: center;}
	.banner_top .find_out_more a {font-size: 15px;padding: 12px;font-weight: 600;}
	.animate-left {margin: 110px 0px 40px;}
	.animate-right {margin-bottom: 50px;}
	.mydaily_ensure {padding: 20px 0;}
	.mydaily_ensure h3 {font-size: 21px;padding: 20px 0px;}
	.mydaily_ensure p {font-size: 15px;padding: 30px 0px 20px;}
	.foreman_supervisor_works {padding: 30px 0 40px;}
	.foreman_supervisor_works .mob_image {text-align: center;float: unset;}
	.foreman_supervisor_works .mob_image img{width: 80%;}
	.foreman_supervisor_works .right_text {margin: 0px 0px 20px;}
	.foreman_supervisor_works h3 {font-size: 21px;padding-right: 0px;text-align: center;padding-bottom: 20px;}
	.foreman_supervisor_works p {font-size: 15px;padding-right: 0px;margin: 10px 0px;text-align: center;}
	.superVisor {width: 100%;}
	.foreman {padding: 0px 0px 0px;}
	.foreman h3 {font-size: 28px;margin-bottom: 35px;margin-top: 45px;}
	.foreman h4 {font-size: 13px;margin: 10px 0;}
	.foreman p {font-size: 11px;line-height: 15px;margin-bottom: 40px;}
	.find_out_more_sec .find_out_more {padding: 20px 0px;margin: 30px 0px 20px;}
	.find_out_more_sec p {font-size: 15px;margin: 0px 0px 50px;}
	footer {margin: 10px 0px 30px;}
	.find_out_more_sec {padding: 70px 0 20px;}
	.img-fl-left {float: left;}
	.find_out_more_sec .find_out_more a {font-size: 15px;padding: 12px;	font-weight: 600;}
	.foreman-icons .col-md-2.col-xs-6{width: 50%}
	.foreman-icons .col-md-2.col-sm-2.col-xs-4 {width: 33.33%;}
/*	.img-fl-right {float: left;}*/
	.supervisor {margin-top: 25px!important;}
	.form-control-input {padding: 12px;width: 67%;font-size: 14px;}
	.btn-green {font-size: 15px;padding: 13px 15px;}
	.btn-grey {font-size: 15px;padding: 13px 15px;}
	.send-details{text-align: center;}
	.subscribe-text {padding-top: 15px;display: block;text-align: center;}
	.btn-grey{display: none;}
}

