.add-icon{
    float: right;
    position: relative;
    right: 99px;
    font-size: 16px;
}
@media (min-width: 320px) and (max-width: 767px) {
    .add-icon{
        float: right;
        position: relative;
        right: 10px;
        font-size: 16px;
    }
}
.modal{
    width: 1030px;
    position: relative;
    left: 350px;
    bottom: 550px; 
}
.modal .modal-form{
    padding-left: 20px;
}
.quantity-check{padding-bottom: 22px;}
.quantity-check label{
    display: inline;
}
.quantity-check input[type=text]{
        right: 130px;
    float: right;
    bottom: 8px;
    position: relative;
}
#image_preview img{
width: 151px;
    height: 150px;
}
#image_preview div{
width: 142px;
    /* padding: 0px; */
    margin: 10px 5px 10px 5px;
}
.modal-header .close {
    margin-top: 2px;
    bottom: 23px;
    position: relative;
}
#image_preview div.span1 label{
   position: relative;
    background: lightblue;
    font-size: 12px;
    font-weight: bold;
    bottom: 20px;
}
.text-danger{
    color: red;
}
 
#hidden {
  display: none;
}
#visible:hover #hidden {
  display: block;
}
#hidden2 {
  display: none;
}
#visible2:hover #hidden2 {
  display: block;
}
.product-thumbnail{
    height: 300px;
    width: 90%;
}
@media (max-width: 767px){
.myCarousel .thumbnails li {
    border-bottom: 1px solid #eee;
    margin-bottom: 0;
    width: 43%;
    float: left;
    padding: -3px;
    margin: 8px;
}
}
