.add-icon{
    float: right;
    position: relative;
    right: 99px;
    font-size: 16px;
}
@media (min-width: 320px) and (max-width: 767px) {
    .add-icon{
        float: right;
        position: relative;
        right: 10px;
        font-size: 16px;
    }
}
.modal{
        width: 630px;
}
.modal .modal-form{
    padding-left: 20px;
}