<div class="content-wrapper" ng-init="getAllPayment()"> 
<!-- Content Header (Page header) -->
    <section class="content-header clearfix">
      <h1>Payment</h1>
      <ol class="breadcrumb">
        <li><a ui-sref="dashboard" >Home </a></li>
        <li class="Activate">Payment</li>
      </ol>
    </section>
    
    <!-- Main content -->
    <section class="content my-dash"> 
      
      <!-- Your Page Content Here -->
      <div class="row">
        <div class="col-sm-12">
          <div class="box">
            <div class="box-body">
             
             <div class="table-responsive">
                <table id="userTable" class="table table-bordered table-striped" ng-table="tableParams" show-filter="isFiltersVisible">
                    <tr ng-repeat="payment in paymentList">
                        <td data-title="'Firstname'" sortable="'firstname'" filter="{title:'text'}" align="left">{{payment.firstname}}</td>

  <td data-title="'Lastname'" sortable="'Lastname'" filter="{title:'text'}" align="left">{{payment.lastname}}</td> 


                             

                        <td data-title="'Charge ID'" sortable="'charge_id'" filter="{title:'text'}" align="left">{{payment.charge_id}}</td>
                        <td data-title="'Payment Date'" sortable="'createdAt'" filter="{title:'text'}" align="left">{{payment.createdAt| date:"MM/dd/yyyy"}}</td>
                        <td data-title="'Curreny'" sortable="'currency'" filter="{title:'text'}" align="left">{{payment.currency | uppercase}}</td>
                        <td data-title="'Amount'" sortable="'amount'" filter="{title:'text'}" align="left"><strong>{{payment.amount}}</strong></td>
                    </tr>
                     <tr>
                        <td></td>
                        <td></td>
                        <td><h1>Total  :</td>
                        <td><h1>{{paymentList | sumOfValue:'amount'}}</h1></td>
                    </tr>
                       
                    <tr ng-if="tableLoader">
                        <td colspan="7" align="center">
                            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                        </td>
                    </tr>
                    <tr ng-if="paymentList.length == 0 && !tableLoader">
                        <td colspan="7" align="center">No record Found</td>
                    </tr>
                </table>
             </div>
              
              <!--Foremen linsting table-->
              <!--Foremen linsting table-->
            </div>
            <!-- /.box-body --> 
            
          </div>
        </div>
      </div>
    </section>
    <!-- /.content --> 
 </div>   