@media only screen and (min-width: 768px) {
  .cd-main-content .content-wrapper {
/*    margin-left: 110px;*/
    padding-top: 79px;
  }
  .cd-main-content .content-wrapper h1 {
    padding: 1em 0;
    font-size: 2.8rem;
    font-weight: 400;
  }
  .cd-main-content::before {
    content: 'tablet';
  }
}
@media only screen and (min-width: 1170px) {
  .cd-main-content .content-wrapper {
    margin-left: 0px;
  }
  .cd-main-content::before {
    content: 'desktop';
  }
}
@media only screen and (min-width: 768px) {
  .cd-main-header {
    position: fixed;
    height: 55px;
  }
}
@media only screen and (min-width: 768px) {
  .cd-logo {
    margin: 16px 0 0 36px;
  }
}
@media only screen and (min-width: 768px) {
  .cd-nav-trigger {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .cd-search {
    float: left;
    display: inline-block;
    width: 350px;
    height: 100%;
    margin: 0 0 0 2.5em;
    padding: 10px;
  }
  .cd-search.is-hidden {
    /* reset style */
    opacity: 1;
  }
  .cd-search::before {
    background-position: 0 -16px;
    right: 1.3em;
  }
  .cd-search form, .cd-search input {
    height: 100%;
    width: 100%;
  }
  .cd-search input {
    border: none;
    padding: 0 20px;
    border-radius: 5px;
    background-color: #224568;
    color: #ffffff;
    margin: 0px;
    font-size: 12px;
  }
  .cd-search input::-webkit-input-placeholder {
    color: #777c81;
  }
  .cd-search input::-moz-placeholder {
    color: #777c81;
  }
  .cd-search input:-moz-placeholder {
    color: #777c81;
  }
  .cd-search input:-ms-input-placeholder {
    color: #777c81;
  }
}
@media only screen and (min-width: 768px) {
  .cd-nav {
    display: block;
    float: right;
    height: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .cd-top-nav {
    height: 100%;
  }
  
  .cd-top-nav a {
    display: block;
    font-size: 1.1rem;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;

  }
  .cd-top-nav > li {
    display: inline-block;
    margin: -2px 0.1em -2px 0;
    height: 100%;
  }
  .cd-top-nav > li:last-of-type {
    margin-right: 0;
  }
  .cd-top-nav > li a {
    padding: 1.9em .8em !important;
    height: 100%;
  }
  .cd-top-nav img {
    display: block;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-top-nav li:not(.has-children) a:hover {
    color: #1784c7;
  }
}
@media only screen and (min-width: 768px) {
  
  .has-children {
    position: relative;
  }
  .has-children ul {
    position: absolute;
    top: 0;
    left: 100%;
    width: 160px;
    padding: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  .has-children ul a {
    text-align: left;
    border: none;
    padding: 1em;
  }
  .no-touch .has-children ul a:hover {
    color: #1784c7;
  }
  .has-children > a::after {
    display: none;
  }
  .cd-side-nav .has-children.selected > a {
    /* focus state -> show sub pages */
    background-color: #33383e;
  }
    .cd-top-nav .has-children {
        position: relative;
        background-color: transparent;
    }
  .cd-top-nav .has-children > a {
    height: 100%;
    padding: 0 10px !important;
    line-height: 55px;
  }
  .cd-top-nav .has-children > a::after {
    display: block;
    right: 1.8em;
  }
  .cd-top-nav .has-children ul {
    background-color: #1c1f22;
    width: 200px;
    top: 100%;
    right: 0;
    left: auto;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  }
  .cd-top-nav .has-children ul a {
    padding-left: 18px !important;
  }
}
@media only screen and (min-width: 1170px) {
  .has-children > ul {
    width: 100%;
    z-index: 1;
  }
  .has-children ul a {
    padding-left: 18px;
  }
  .has-children.active > ul {
    /* if the item is active, make the subnavigation visible */
    position: relative;
    display: block;
    /* reset style */
    left: 0;
    box-shadow: none;
  }
  .no-touch .cd-side-nav .has-children:hover > ul, .cd-side-nav .has-children.hover > ul {
    /* show subnavigation on hover */
    display: block;
    opacity: 1;
    visibility: visible;
  }
}
@media only screen and (max-width: 768px) {
/*
    .cd-logo img {
    display: block;
    height: 40px;
  }
*/
  .cd-nav-trigger {z-index: 2;}
/*
  .cd-nav {
    width: 100%;
    float: right;
    position: absolute;
    z-index: 1;
  }
  .cd-top-nav {
    margin-top: 40px;
  }
  .cd-top-nav li {
    float: right;
    width: 30%;
    background: #fff;
    padding: 10px 0;
  }
  .cd-top-nav li a{
    text-align: right;
    width: 100%;
    padding: 0.5em 18% !important;
  }
*/
  .cd-main-content .content-wrapper h1 {padding: 1em 0;}
  .login span {
    right: 7%;
  }
  .map-prospect {
    width: 100%;
    height: 400px;
}
}
  @media only screen and (max-width: 360px) {
  .login span {
  right: 0%;
  margin-top: -8%;
  }
}
@media (max-width: 600px) {
.wizard .nav-tabs > li {
	width: 27% !important;
  height: 60px;
}
.right-links { float: none; margin-top: 0px;}	
}

/*Mediq queries added by ashish 11-8-17*/

@media (max-width: 1100px){
.cd-search { margin: 0 0 0 0.3em; width: 250px;}
}
@media (max-width: 930px){
.cd-search { margin: 0 0 0 0.1em; width: 200px;}
}
@media (max-width: 880px){
.cd-search { margin: 0 0 0 0.1em; width:180px;}
.navbar-collapse{padding-left: 0;padding-right: 0;}
.cd-nav.top-right-menu { margin-right: 5px;}
}
@media (max-width: 820px){
.cd-search { margin: 0 0 0 0.1em; width:150px;}
.cd-nav.top-right-menu { margin-right: 5px;}
}
@media (max-width: 790px){
.cd-search { margin: 0 0 0 0; width:150px;}
.cd-nav.top-right-menu { margin-right: 5px;}
.cd-nav.top-left-menu .cd-top-nav > li a{padding: 2em 0.5em !important;  }
}

@media (max-width: 767px){
.cd-logo img { display: block; height: 40px; }	
.cd-search.is-hidden { background: #ccc; height: auto; left: 0; opacity: 1; padding: 10px 15px; position: absolute; top: 45px; width: 100%;}
.cd-search::before { right: 25px;}
    .cd-nav.top-left-menu .cd-top-nav > li a {
        display: block;
        padding: 0.8em 0.5em !important;
        text-align: center;
        color: #FFF;
        border-bottom: 1px solid #369;
        font-size: 13px;
    }
    .cd-top-nav > li a:hover {
        background: #369 none repeat scroll 0% 0%;
        color: #FFF;
        text-decoration: none;
    }
}




