<section class="homepage-slider" id="home-slider">
	<div class="flexslider">
		<ul class="slides">
			<li>
				<img src="/assets/themes/images/carousel/banner-1.jpg" alt="" />
			</li>
			<li>
				<img src="/assets/themes/images/carousel/banner-2.jpg" alt="" />
				<div class="intro">
					<h1>Mid season sale</h1>
					<p><span>Up to 50% Off</span></p>
					<p><span>On selected items online and in stores</span></p>
				</div>
			</li>
		</ul>
	</div>
</section>
<section class="header_text">
	We stand for top quality templates. Our genuine developers always optimized bootstrap commercial templates.
	<br/>Don't miss to use our cheap abd best bootstrap templates.
</section>
<section class="main-content">
	<div class="row">
		<div class="span12">
			<!-- <div class="row">
				<div class="span12">
					<h4 class="title">
						<span class="pull-left"><span class="text"><span class="line">Feature <strong>Products</strong></span></span>
						</span>
						<span class="pull-right">
										<a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
									</span>
					</h4>
					<div id="myCarousel" class="myCarousel carousel slide" data-interval="false">
						<div class="carousel-inner">
							<div class="item " ng-class="{'active':productGroup.isActive===true}" ng-repeat="productGroup in featuredProduct">
								<ul class="thumbnails">
									<li class="span3" ng-repeat="product in productGroup.child track by $index">
										<div class="product-box" ui-sref="Dashboard.productDetail({id:product._id})">
											<span class="sale_tag"></span>
											<p><a><img class="img-thumbnail product-thumbnail"  src={{product.item_images[0].image_path}} alt="" /></a></p>
											<a href="product_detail.html" class="title">{{product.item_name}}</a><br/>
											<a href="products.html" class="category">{{product.category[0].category_name}}</a>
											<p class="price">${{product.item_price}}</p>
										</div>
									</li>

								</ul>
							</div>

						</div>
					</div>
				</div>
			</div> -->
			<br/>
			<div class="row">
				<div class="span12">
					<h4 class="title">
						<span class="pull-left"><span class="text"><span class="line">Latest <strong>Products</strong> Mens</span></span>
						
						</span>
					<!-- <span class="pull-left"><span class="text"><span class="line">Mens</span></span>
						
						</span> -->
						<span class="pull-right">
										<a class="left button" href="#mensCarousel" data-slide="prev"></a><a class="right button" href="#mensCarousel" data-slide="next"></a>
									</span>
					</h4>
					<div id="mensCarousel" class="myCarousel carousel slide" data-interval="false">
						<div class="carousel-inner">
							<div class="item " ng-class="{'active':productGroup.isActive===true}" ng-repeat="productGroup in latestProductMens">
								<ul class="thumbnails">
									<li class="span3" ng-repeat="product in productGroup.child track by $index">
										<div class="product-box">
											<span class="sale_tag"></span>
											<p><a><img class="img-thumbnail product-thumbnail"  ng-src={{product.item_images[0].image_path}} alt="" /></a></p>
											<a href="product_detail.html" class="title">{{product.item_name}}</a><br/>
											<a href="products.html" class="category">{{product.category[0].category_name}}</a>
											<p class="price">${{product.item_price}}</p>
										</div>
									</li>
									<li class="span3" ng-if="$last">
										<div class="product-box">
											<span class="sale_tag"></span>
											<p><a><img class=""  ng-src="" alt="" /></a></p>
											<a href="product_detail.html" class="title">Show More</a><br/>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="span12">
					<h4 class="title">
						<span class="pull-left"><span class="text"><span class="line">Latest <strong>Products</strong> Womens</span></span>
						
						</span>
					<!-- <span class="pull-left"><span class="text"><span class="line">Mens</span></span>
						
						</span> -->
						<span class="pull-right">
										<a class="left button" href="#womensCarousel" data-slide="prev"></a><a class="right button" href="#womensCarousel" data-slide="next"></a>
									</span>
					</h4>
					<div id="womensCarousel" class="myCarousel carousel slide" data-interval="false">
						<div class="carousel-inner">
							<div class="item " ng-class="{'active':productGroup.isActive===true}" ng-repeat="productGroup in latestProductWomens">
								<ul class="thumbnails">
									<li class="span3" ng-repeat="product in productGroup.child track by $index">
										<div class="product-box">
											<span class="sale_tag"></span>
											<p><a><img class="img-thumbnail product-thumbnail"  ng-src={{product.item_images[0].image_path}} alt="" /></a></p>
											<a href="product_detail.html" class="title">{{product.item_name}}</a><br/>
											<a href="products.html" class="category">{{product.category[0].category_name}}</a>
											<p class="price">${{product.item_price}}</p>
										</div>
									</li>
									<li class="span3" ng-if="$last">
										<div class="product-box">
											<span class="sale_tag"></span>
											<p><a><img class=""  ng-src="" alt="" /></a></p>
											<a href="product_detail.html" class="title">Show More</a><br/>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="span12">
					<h4 class="title">
						<span class="pull-left"><span class="text"><span class="line">Latest <strong>Products</strong> Kids</span></span>
						
						</span>
					<!-- <span class="pull-left"><span class="text"><span class="line">Mens</span></span>
						
						</span> -->
						<span class="pull-right">
										<a class="left button" href="#kidsCarousel" data-slide="prev"></a><a class="right button" href="#kidsCarousel" data-slide="next"></a>
									</span>
					</h4>
					<div id="kidsCarousel" class="myCarousel carousel slide" data-interval="false">
						<div class="carousel-inner">
							<div class="item " ng-class="{'active':productGroup.isActive===true}" ng-repeat="productGroup in latestProductKids">
								<ul class="thumbnails">
									<li class="span3" ng-repeat="product in productGroup.child track by $index">
										<div class="product-box">
											<span class="sale_tag"></span>
											<p><a><img class="img-thumbnail product-thumbnail"  ng-src={{product.item_images[0].image_path}} alt="" /></a></p>
											<a href="product_detail.html" class="title">{{product.item_name}}</a><br/>
											<a href="products.html" class="category">{{product.category[0].category_name}}</a>
											<p class="price">${{product.item_price}}</p>
										</div>
									</li>
									<li class="span3" ng-if="$last">
										<div class="product-box">
											<span class="sale_tag"></span>
											<p><a><img class=""  ng-src="" alt="" /></a></p>
											<a href="product_detail.html" class="title">Show More</a><br/>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row feature_box">
				<div class="span4">
					<div class="service">
						<div class="responsive">
							<img src="../../../../assets/themes/images/feature_img_2.png" alt="" />
							<h4>MODERN <strong>DESIGN</strong></h4>
							<p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>
						</div>
					</div>
				</div>
				<div class="span4">
					<div class="service">
						<div class="customize">
							<img src="../../../../assets/themes/images/feature_img_1.png" alt="" />
							<h4>FREE <strong>SHIPPING</strong></h4>
							<p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>
						</div>
					</div>
				</div>
				<div class="span4">
					<div class="service">
						<div class="support">
							<img src="../../../../assets/themes/images/feature_img_3.png" alt="" />
							<h4>24/7 LIVE <strong>SUPPORT</strong></h4>
							<p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="our_client">
	<h4 class="title"><span class="text">Manufactures</span></h4>
	<div class="row">
		<div class="span2">
			<a href="#"><img alt="" src="../../../../assets/themes/images/clients/14.png"></a>
		</div>
		<div class="span2">
			<a href="#"><img alt="" src="../../../../assets/themes/images/clients/35.png"></a>
		</div>
		<div class="span2">
			<a href="#"><img alt="" src="../../../../assets/themes/images/clients/1.png"></a>
		</div>
		<div class="span2">
			<a href="#"><img alt="" src="../../../../assets/themes/images/clients/2.png"></a>
		</div>
		<div class="span2">
			<a href="#"><img alt="" src="../../../../assets/themes/images/clients/3.png"></a>
		</div>
		<div class="span2">
			<a href="#"><img alt="" src="../../../../assets/themes/images/clients/4.png"></a>
		</div>
	</div>
</section>
<script type="text/javascript">
	$(function () {
		$(document).ready(function () {
			$('.flexslider').flexslider({
				animation: "fade",
				slideshowSpeed: 4000,
				animationSpeed: 600,
				controlNav: false,
				directionNav: true,
				controlsContainer: ".flex-container" // the container that holds the flexslider
			});
		});
	});
</script>