<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header clearfix" ng-init="getJobListAdmin();getinvities()">
    <h1>Customer ID : {{customer_id}}</h1>
    <ol class="breadcrumb">
      <li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li><a ui-sref="job">My Job</a></li>
    </ol>
  </section>
  <style>
    .btn-primary_grey {
      color: #000;
      background-color: #ecf0f5;
      border-color: #ecf0f5;
    }
  </style>
  <!-- Main content -->
  <section class="content my-dash">
    <!-- Your Page Content Here -->
    <div class="row">
      <div class="col-sm-12">
        <div class="box">
          <div class="box-body">
            <div class="form-group row">
              <div class="col-sm-4 col-md-3">
                <a ui-sref='addJob' class=" btn btn-primary"><i class="fa fa-plus-square" aria-hidden="true"></i> Add New Job</a>
                <a ui-sref='newJob' ng-class="totalInvities != 0 ? 'btn btn-primary' : 'btn btn-primary_grey btn-primary'">Job Invite</a>
              </div>
              <div class="col-sm-8 col-md-9">
                <form name="searchForm" novalidate>
                  <div id="custom-search-input">
                    <div class="input-group col-md-6 col-md-offset-6">
                      <input type="text" class="form-control" placeholder="Search Job By JobID or client" name="searchTerm" ng-model="searchTextField"
                        ng-change="searchJob()" required />
                      <span class="input-group-btn">
                                <button class="btn btn-info " type="submit">
                                    <i class="glyphicon glyphicon-search" ng-click="searching()"></i>
                                </button>
                            </span>
                    </div>
                  </div>
                </form>
              </div>
              <div class="clearfix"></div>
            </div>

            <!--map tabs-->
            <div class="map-tab">
              <div>
                <!-- Nav tabs -->
                <!-- Tab panes -->
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="home">
                    <div class="table-responsive">
                      <table id="example1" class="table table-bordered table-striped" ng-table="tableParams" show-filter="isFiltersVisible">
                        <tr ng-repeat="job in jobList">
                          <td data-title="'Job ID'" sortable="'job_id'" filter="{title:'text'}" align="left" ng-bind="job.job_id  | textLengthCheck">
                          </td>
                          <td data-title="'Client'" filter="{title:'text'}" align="left">{{job.client}}
                          </td>
                          <td data-title="'Start Date'" filter="{title:'text'}" align="left">{{job.start_date | date:"MM/dd/yyyy"}}
                          </td>

                          <td data-title="'End Date'" filter="{title:'text'}" align="left">{{job.actual_end_date | date:"MM/dd/yyyy"}}
                          </td>

                          <td data-title="'Status'" filter="{title:'text'}" align="left">{{job.status}}
                          </td>

                          <td data-title="'Billing Contact'" filter="{title:'text'}" align="left">{{job.billing_info.client_billing_contact}}
                          </td>
                          <td data-title="'Action'" align='left'>
                            <a ng-if="job.share_status" href="javascript:void(0)" ng-click="viewJob(job,true)"><i class="fa fa-eye fa-1" aria-hidden="true"></i></a>                            &nbsp;
                            <a ng-if="!job.share_status" href="javascript:void(0)" ng-click="viewJob(job,false)"><i class="fa fa-eye fa-1" aria-hidden="true"></i></a>                            &nbsp;&nbsp;
                            <a ng-if="!job.share_status" href="#/job-edit/{{job._id}}/{{job.job_id}}"><i class="fa fa-pencil-square-o fa-1" aria-hidden="true"></i></a>                            &nbsp;&nbsp;
                            <a ng-if="!job.share_status" ng-click="deleteJob(job._id)"><i class="fa fa-trash-o fa-1" aria-hidden="true"></i></a>&nbsp;&nbsp;
                            <a ng-if="!job.share_status" href="#/inviteJob/{{job._id}}/{{job.job_id}}"><i class="fa fa-share-square-o" aria-hidden="true"></i>
                                </a>
                          </td>
                        </tr>
                        <tr ng-if="tableLoader">
                          <td colspan="10" align="center">
                            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                          </td>
                        </tr>
                        <tr ng-if="jobList.length == 0 && !tableLoader">
                          <td colspan="10" align="center">No record Found</td>
                        </tr>
                      </table>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <!--End map tabs-->
          </div>
          <!-- /.box-body -->

        </div>
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>